{% set attributes = attributes.addClass([
  'block-' ~ configuration.provider|clean_class,
  attributes.id,
  'block-config-pages-super-footer'
]) %}
{% set title_attributes = title_attributes.addClass('block__title') %}

Hello world
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>